.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobreNos {
    background-color: rgb(239, 210, 146);
    height: 300px;
    border-radius: 3%;
    padding: 15px;
    width: 90%;
    margin-right: 25px;
    border: 0px solid rgb(157, 157, 239);
    opacity: 0.9;
    text-align: justify;
    font-size: 18px;
    height: 100%;
}