* {
    margin: 0px;
    bottom: 0px;
}

.gridMain{
    display: grid;
    grid-template: 
    /* "carrossel" 700px */
    "agenda" 400px
    "genero" 800px
    "saibaMais" 400px
    "sobreNos" 1fr
    / 1fr;
    /* justify-items: center; */
    /* align-items: center; */
    /* padding: 60px; */
}

.Carrossel{
    grid-area: carrossel;
}

.agenda{
    grid-area: agenda;
}

.genero{
    grid-area: genero;
}

.saibaMais{
    grid-area: saibaMais;
}

.sobreNos{
    grid-area: sobreNos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobreNos p {
    width: 90vw;
    padding: 50px;
    background-color: rgb(239, 210, 146);
    border-radius: 20px;
    text-align: justify;
    font-size: clamp(18px, 2vw, 12px);
    text-indent: 80px;
}


/* carrossel*/

/* 

.carousel-item img {
    border-radius: 30px !important;
}

.carousel-control-prev-icon {
    background-image: url("../assets/img/prev.png") !important;
}

.carousel-control-next-icon {
    background-image: url("../assets/img/next.png") !important;
}

.carousel-control-prev {
    display: flex !important;
    align-items: end !important;
    margin-left: 580px;
    margin-bottom: 40px;
    justify-content: end !important;
}

.carousel-control-next {
    display: flex !important;
    align-items: flex-end !important;
    margin-right: 580px;
    margin-bottom: 40px;
    justify-content: start !important;
} */

@media screen and (max-width: 720px){
    .gridMain {
        display: block;
    }
}