.btn-send {
  display: none;
}

.btn-cancel {
  display: none;
}

.endereco-forms {
  display: none;
}

#itelefone {
  display: none;
}

#icpf {
  display: none;
}

#iemail {
  display: none;
}

.nome-forms {
  display: none;
}
